<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBH.Properties.Settings.qlbhatConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\qlbhat.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="QLBH.Properties.Settings.qlbhatConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=qlbhat;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>